<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment11_Part2</title>
    <link rel="stylesheet" href="styles_part2.css">
</head>
<body>
    <div id="listRendering">
        <h1>List of Fruits</h1>
        <ul>
            <li v-for="(item, index) in items" :key="index" @click="removeItem(index)">
                <span>{{ item }}</span>
            </li>
        </ul>
        <div class="input">
            <input type="text" v-model="newItem" @keyup.enter="addItemOnEnter"s>
            <button class="addBtn" @click="addItem">Add</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="script_part2.js"></script>
</body>
</html>
